/* background */
body {
    background-image: url('cyberpunk.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav {
    background-color: var(--black-color);
}

main .form-control {
    display: inline-block;
    width: auto;
}

main {
    overflow-x: auto;
}

table {
    margin-top: 50px;
    margin-left: 75%;
    width: 20%;
    text-align: center;
    background-color: var(--black-color);
}

td {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--yellow-color);
}

th {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--red-color);
}

/* blank space before text box */
.logreg {
    margin-top: 75px;
    text-align: center;
}

/* cyberpunk buttons - https://dev.to/leandroruel/how-to-make-a-cyberpunk-2077-button-with-css-c9m*/
@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");

:root {
  --yellow-color: #fcee09; 
  --red-color: #ff003c;
  --black-color: #050a0e;
  --blue-color: #00f0ff;
  --white-color: #ffffff;
}

.btn {
  width: 200px;
  height: 55px; 
  border: none;
  outline: none;
  background-color: var(--white-color);
  color: var(--black-color);
  cursor: pointer;
  position: relative;
  font-family: Tomorrow, sans-serif;
  font-size: medium;
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

.btn__contenty {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: var(--yellow-color);
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

.btn__contentr {
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: var(--red-color);
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  }

  .btn__contentb {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: var(--blue-color);
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  }
