/* background */
body {
    background-image: url('cyberpunk.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav {
    background-color: var(--black-color);
}

main .form-control {
    display: inline-block;
    width: auto;
}

main {
    overflow-x: auto;
}

table {
    margin-top: 50px;
    align-content: center;
    width: 20%;
    margin-left: 40%;
    background-color: var(--black-color);
    opacity: 0.9;
}

td {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--yellow-color);
}

td:first-child {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--blue-color);
}

th {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--red-color);
}

/* blank space before text box */
.logreg {
    margin-top: 75px;
    text-align: center;
}

/* cyberpunk buttons - https://dev.to/leandroruel/how-to-make-a-cyberpunk-2077-button-with-css-c9m*/
@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");

:root {
  --yellow-color: #fcee09; 
  --red-color: #ff003c;
  --black-color: #050a0e;
  --blue-color: #00f0ff;
  --white-color: #ffffff;
}

.btn {
  width: 200px;
  height: 55px; 
  border: none;
  outline: none;
  background-color: var(--white-color);
  color: var(--black-color);
  cursor: pointer;
  position: relative;
  font-family: Tomorrow, sans-serif;
  font-size: medium;
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

.btn1 {
  cursor: pointer;
  display: inline-block;
  transition: all 0.5s;
  border-radius: 25px;
  border: 3px solid var(--red-color);
  background-color: var(--black-color);
  color: var(--yellow-color);
  opacity: 0.75;
  font-family: Tomorrow, sans-serif;
  font-size: xx-large;
}

.btn1:hover {
  border: 5px solid var(--blue-color);
  opacity: 0.95;
  padding-right: 25px;
}

.btn1:after {
  content: '\00bb';
  opacity: 0;
  top: 0;
  right: -20px;
}

.btn1:hover:after {
  opacity: 0.95;
  right: 0;
}

a:link, a:visited, a:hover {
  text-decoration: none;
  color: var(--yellow-color);
}

.btn__contenty {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: var(--yellow-color);
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

.btn__contentr {
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: var(--red-color);
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

.btn__contentb {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: var(--blue-color);
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

.container {
  margin-top: 50px;
  display: flex;
  height: 500px;
  min-width: 100%;
  justify-content: space-evenly;
}

.column {
  width: 20%;
  box-sizing: border-box;
}

.column-one {
  order: 1;
}
.column-two {
  order: 2;
}
.column-three {
  order: 3;
}
.column-four {
  order: 4;
}

