body {
    background-color: #e2dddf;
}

nav {
    background-color: #000;
}

.colorbrand
{
    font-size: xx-large;
    color: #ff124f;
}

.colorlink
{
    font-size: large;
    color: #85ebd9;
}

main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;
}

table {
    margin-top: 50px;
    margin-left: 75%;
    width: 20%;
    text-align: center;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
}

th {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #4deeea;
}

.lr {
    margin-top: 50px;
    text-align: center;
}
