{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="form-group">
        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                    <tr>
                        <td>{{ stock[0] }}</td>
                        <td>{{ stock[1] }}</td>
                        <td>{{ stock[2] }}</td>
                        <td>{{ stock[3]|usd }}</td>
                        <td>{{ (stock[2]*stock[3])|usd }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <h6>Cash {{ cash|usd }}</h6>
    </div>
    <div class="form-group">
        <h6>Total {{ total|usd }}</h6>
    </div>
{% endblock %}
