{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="container">
        <button class="column column-one btn1"><a href="/smovie">Search Movie </a></button>
        <button class="column column-two btn1"><a href="/sactor">Search Actor </a></button>
        <button class="column column-three btn1"><a href="/trending">Trending </a></button>
        <button class="column column-four btn1"><a href="/favorites">Favorites </a></button>
    </div>
{% endblock %}
