{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
        <table class="table-borderless table-hover table-dark">
            <thead>
                <tr>
                    <th><h4>Trending Movies</h5></th>
                </tr>
            </thead>
            <tbody>
                {% for movie in movies %}
                    <tr>
                        <td>{{ movie }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
