{% extends "layout.html" %}

{% block title %}
    Search Movie
{% endblock %}

{% block main %}
    <form method="post">
        <div class="logreg">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="name" placeholder="Name" type="text">
            </div>
            <button class="btn"><span class="btn__contenty">Search</span></button>
        </div>
    </form>
    <table class="table-borderless">
        <thead>
            <tr>
                <th><h3>Add</h3></th>
                <th><h3>Movies</h3></th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
            <tr>
                <form method="POST">
                    <td><button class="btn2" value="{{ movie.movieID }}" name="id"><span class="btn__contentb">+</span></button></td>
                </form>
                <td>{{movie}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
