{% extends "layout.html" %}

{% block title %}
    Trending
{% endblock %}

{% block main %}
    <table class="table-borderless">
        <thead>
            <tr>
                <th><h3>Add</h3></th>
                <th><h3>Trending Movies</h3></th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(10) %}
            <tr>
                <form method="POST">
                    <td><button class="btn2" value="{{ movies[i].movieID }}" name="id"><span class="btn__contentb">+</span></button></td>
                </form>
                <td>{{ movies[i] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
